@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-base: #212121;
  --color-base-hover: color-mix(in srgb, var(--color-base), white);
  --color-base-content: #e0e0e0;
  --color-primary: #3949ab;
  --color-primary-content: var(--color-base-content);
  --color-border: #616161;
}

:root {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color-scheme: dark;
  background-color: var(--color-base);
  color: var(--color-base-content);
}
