name: Check

on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up
        uses: ./.github/actions/setup

      - name: Execute check
        run: npm run check
