name: Create Release

on:
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  contents: write

jobs:
  create_release:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SCRIPT_PATH: .github/workflows/createRelease.sh
        run: |
          chmod u+x $SCRIPT_PATH
          ./$SCRIPT_PATH
