name: Preview Deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  preview_deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Deploy to Preview Environment
        uses: ./.github/actions/deployment
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_TEAM_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        with:
          environment: preview
