name: Release PR

on:
  workflow_dispatch:
    inputs:
      type:
        type: choice
        description: 更新するバージョン
        required: true
        default: minor
        options:
          - major
          - minor
          - patch
      step:
        type: number
        description: インクリメントの量
        required: true
        default: 1

permissions:
  contents: write
  pull-requests: write

jobs:
  release_pr:
    runs-on: ubuntu-latest
    env:
      FILE_PATH: package.json
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Update version
        env:
          SCRIPT_PATH: .github/workflows/updateVersion.sh
        run: |
          chmod u+x $SCRIPT_PATH
          ./$SCRIPT_PATH -i ${{ env.FILE_PATH }} -t ${{ github.event.inputs.type }} -s "${{ github.event.inputs.step }}"

      - name: Commit
        run: |
          git config --local user.name "actions-user"
          git config --local user.email "action@github.com"
          git add ${{ env.FILE_PATH }}
          git commit -m "update version: ${{ env.NEW_VERSION }}"
          git push

      - name: Create PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr create --base main --head ${{ github.ref_name }} --title "リリース ${{ env.NEW_VERSION }}" --body ""
